{% extends 'base.html' %}
{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'css/create_api_key.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}


{% block content %}
    {% if request.user.is_authenticated %}
    {% include 'user/dashboard.html' %}
    <div class="con">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Hello {{request.user.name}} &#128075</strong> {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            
            <div>
                <h3><b>About GoDocs API Key</b></h3>
                <p>
                    One of the fascinating things about GoDocs is the numerous ways of being able to
                    identify a user or an appliaction securely. An API key is a token or unique identifier
                    used to identify and authenticate a user and is commonly used on most API platforms.
                    API keys are commonly used to control the utilization of the API’s interface and track how it is being used. 
                    This is often as a precaution to prevent abuse or malicious use.
                         

                </p>
            </div>
            <div class="create_api_key">
                <h3>
                    <b>Creating and Managing API Keys</b>
                    
                </h3>
                <p>
                    Upon creating an API key from your dashboard, the full API key is shown only once in a 
                    success message banner. Ensure you copy the API key and keep it somewhere save. This is what
                    should be passed in your authorization headers. This is done in order not to keep
                    any trace of the API key on the sever side for security purpose. However, for identification
                    purpose only the name and the prefix of the API key is being stored. In order to be able to identify
                    your API keys, we strongly suggest that you name your API keys as follows: 
                    Your name_APIKEYNAME (i.e where APIKEYNAME is the name that you want to name your API key)  
                </p>
                <p>
                    For instance: if your name is John Doe, the proper naming convention we strongly suggest should be 
                    &#8594 john doe_APIKEYNAME 
                </p>    
            </div>
            <form action="" method="post"> {% csrf_token %}
                <div>
                    <label for="">Name</label>
                    <input type="text" name="api_key_name" placeholder="E.g: john_APIKEYNAME">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>

            </form>
            <div class="container">
                {% if user_api_keys %}
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Prefix</th>
                        <th scope="col">Created</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for user_api_key in user_api_keys %}
                            <tr>
                                <td>{{user_api_key.name}}</td>
                                <td>{{user_api_key.prefix}}</td>
                                <td>{{user_api_key.created}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
            </div>
            <div class="container">
                <h3><b>Making Authorized Request</b></h3>
                <p>
                    By default, clients must pass their API key via the Authorization header. It must be 
                    formatted as follows:
                </p>
                <div class="request">
                    <p class="authorized-request">Authorization: Api-Key &lt;API_KEY&gt;</p>
                    <i class="fa-sharp fa-solid fa-clipboard copy"></i>        
                </div>
                
                
                
                
                
                <p>where &lt;API_KEY&gt; refers to the full generated API key <i class="bx bxs-copy">me</i></p>
                      
            </div>
        </div>
        
    </div>
    {% endif %}
    <script>
        const mydata = document.querySelector('.authorized-request').innerHTML
        const btnCopy = document.querySelector('.copy')
        const presever = document.createElement('textarea')
        presever.innerHTML = mydata
        btnCopy.addEventListener('click', ()=>{
            console.log('hi')
            navigator.clipboard.writeText(presever.value)
        })
    
    </script>
{% endblock content %}